# Python cache
__pycache__/
*.pyc

# Virtual env
venv/
.venv/
.venv311/
.venv-worker/

# Local env file (secrets)
.env

# Local SQL data / migrations (if you want to keep them out)
sql/

# Editor stuff (optional)
.vscode/
gcp-service-account.json 
.DS_Store
*.env
logs/

# Test & Coverage
.pytest_cache/
.coverage

# specific logs
**/*.log

# Project Reports
reports/
.vercel
.env*.local
